doctype html

html

    head
        title Subreddit Database Statistics
        style
            include ../public/main.css

    body

        h1 Subreddit Database Statistics
        p Total Submissions: #{stats.total_submissions}