doctype html

html

  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Subreddit Database
    style
        include ../public/main.css

  body

    div#ie This page does not support Internet Explorer. Please use another browser.

    div#no-ie

      h1 Soldier Opinions Scraper for Reddit

      .stats-container
          
          each val, index in stats
              .stats-item              
                  h2 #{index}
                  p #{val}     

      .last-updated 
          | Last Updated: 
          mark#last_updated_date #{lastUpdated}

      h1 Database Endpoints

      p
          | Data is delivered in JSON. Place 
          code ?csv 
          | after the endpoint for .csv instead of JSON.

      p Place /test after a page endpoint for pages that have both fewer rows and less-restrictive rate limits.

      code
          |/stats  

      code
          | /submissions/
          mark page

      code
          | /submissions/author_id/
          mark author_id

      code
          | /submissions/id/
          mark id    

      code
          | /comments/
          mark page   

      code
          | /comments/author_id/
          mark author_id  

      code
          | /comments/id/
          mark id

      code
          | /comments/submission_id/
          mark submission_id   

      code
          | /comments/parent_id/
          mark parent_id

      script
          include ../public/main.js                              
      