doctype html

html

    head
        title Subreddit Database Status
        style
            include ../public/main.css

    body

        h1 Subreddit Database Status

        .stats-container
            
            each val, index in stats
                .stats-item
                    h2 #{index}
                    p #{val}

        .last-updated 
            | Last Updated: 
            mark #{lastUpdated}

        h1 Subreddit Database API Endpoints

        code
            |/stats  

        code
            | /submissions/
            i
                mark page   

        code
            | /submissions/author/
            i
                mark author      

        code
            | /submissions/id/
            i
                mark id                  

        code
            | /comments/
            i
                mark page   

        code
            | /comments/author/
            i
                mark author  

        code
            | /comments/id/
            i
                mark id

        code
            | /comments/submission_id/
            i
                mark submission_id   

        code
            | /comments/parent_id/
            i
                mark parent_id                                                                     
        