doctype html

html

    head
        title Subreddit Database Statistics
        style
            include ../public/main.css

    body

        .stats-container
            
            each val, index in stats
                .stats-item
                    h2 #{index}
                    p #{val}