doctype html

html

    head
        title Subreddit Database Status
        style
            include ../public/main.css

    body

        h1 Subreddit Database Status

        .stats-container
            
            each val, index in stats
                .stats-item
                    h2 #{index}
                    p #{val}

        .last-updated Last Updated: #{lastUpdated}